:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin: 20px;
}

header .header-text-container {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    padding: 16px;
}

.header-text-container h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    color: var(--just-white);
    margin-bottom: 40px;
}

.header-text-container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--soft-orange);
}

header button {
    width: 229px;
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--warm-black);
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 310px;
    box-shadow: 2px 2px 4px rgba(89, 73, 30, 0.16);
}

span img {
    width: 12px;
    height: 7px;
    margin: 0 8px 0 12px;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 288px;
    height: 680px;
    background: var(--off-white);
}

.features-container img {
    size: 195px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.text-features-container {
    width: 90%;
    margin-bottom: 20px;
}

.text-features-container h2 {
    font-size: 24px;
    font-weight: bold; 
    line-height: 26px;
    margin-bottom: 24px;
    color: var(--warm-black);
}

.text-features-container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #757575;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-width: 320px;
    height: auto;
    background: #201E1C;
}

.benefits-text-container {
    width: 90%;
    min-width: 288px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;

}

.benefits-text-container h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    color: var(--just-white);
}
.benefits-text-container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #808080;
    margin-top: 28px;
}

.benefits-card-container {
    width: 90%;
    margin-bottom: 50px;
}

.plan-info {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: auto;
    background: var(--off-white);
    align-items: center;
}

.plan-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.text-plan-info-container {
    margin-top: 60px;
    width: 90%;
    text-align: center;
}

.text-plan-info-container h2 {
    font-size: 23px;
    font-weight: bold;
    line-height: 26px;
    color: var(--warm-black);
    margin-bottom: 20px;
}

.text-plan-info-container p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #757575;
    margin-bottom: 50px;
}

.outer-card-container {
    display: flex;
    width: 100%;
    height: 300px;
    overflow-x: auto;
    justify-content: center;
}

.plan-card-container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    text-align: center;
    align-items: center;

}

footer {
    width: 100%;
    min-width: 320px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background: var(--bitcoin-orange);
}

.social-media ul {
    list-style: none;
}

.social-media ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--just-white);
    margin-bottom: 8px;
}

@media (min-width: 900px ) {
    .benefits-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
     footer {
        padding: 0 200px;
     }
}
