:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

.plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--just-white);
    box-shadow: 0px 4px 8px 0px #59491E29;
    border-radius: 10px;
    width: 190px;
    height: 247px;
    padding: 20px;
    position: relative;
    scroll-snap-align: center;
}

.plan-card .recomended {
    background: var(--bitcoin-orange);
    width: 102px;
    height: 32px;
    border-radius: 8px;
    font-family: 'Intern', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--just-white);
    padding-top: 10px;
    position: absolute;
    bottom: 230px;
}

.plan-card .hidden {
    display: none;
}

.plan-card h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}

.plan-card .price-container {
    display: flex;
}

.dollar-sign {
    font-family: 'Intern', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--warm-black);
    position: absolute;
    top: 70px;
    left: 55px;
}

.price-container .price {
    font-family: 'Intern', sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: var(--warm-black);
    letter-spacing: -4px;
    margin-top: 10px;
    position: relative;
}

.plan-card .description {
    font-family: 'Intern', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #757575;
    margin-top: 10px;
}

.plan-card button {
    width: 151px;
    height: 48px;
    border: solid 2px var(--bitcoin-orange);
    border-radius: 8px;
    margin-top: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18.23px;
}

